@font-face {
  font-family: Lora Variable;
  src: url('fonts/Lora/Lora-Variable.ttf') format('truetype');
}

@font-face {
  font-family: Textura Libera Black;
  src: url('fonts/Textura\ Libera\ Expanded/TexturaLiberaX-Black.otf') format('opentype');
}

@font-face {
  font-family: Textura Libera Bold;
  src: url('fonts/Textura\ Libera\ Expanded/TexturaLiberaX-Bold.otf') format('opentype');
}

div {}

body {
  background-color: black;
  color: white;
  font-family: Lora Variable;
  font-size: 16px;
}

.container {
  max-width: 900px;
  background-color: black;
  margin: auto;
}

.header {
  display: flex;
  flex-flow: row;
  line-height: 1em;
  margin-top: 1rem;
}

.subheader-left {
  align-content: center;
}

.subheader-right {
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 3em;
}

.main-title {
  font-family: 'Textura Libera Black';
  font-size: 80px;
  padding-bottom: 1px;
  margin: 0;
}

.sub-title {
  font-family: Textura Libera Bold;
  font-size: 24px;
  margin: 0;
}

#moon {
  width: 150px;
  height: 150px;
  margin: 0;
}

a {
  text-decoration: none;
  color: #b0b0b0;
}

.link-row a {
  font-size: 16px;
  font-family: Lora Variable;
  font-weight: 100;
  margin-right: 1em;
  margin-top: 0;
}

a:hover {
  font-weight: 600;
  color: white;
}

.footer {
  text-align: center;
}

.footer a {
  font-size: 20px;
}
